# Ignore IDE stuff
**/.idea/**
*.iml
*.ipr
*.iws
.project
.classpath
.vscode
tags
gradle-wrapper.properties

# Ignore Runtime files
**/target/**
/target/**
**/out/**
**/*.log
**/*.log.*
**/.gradle/**
**/classes
**/.gradletasknamecache
**/.slcache
build.properties
.jest-test-results.json

#build output
**/build
**/out
**/.gradle_build
*.pyc

# Mac OS files
.DS_Store

# backup files
*~

# vim
*.swp
.vimtags
.tags
.ensime
.ensime_cache

#python venv
/venv

#config file
config.json
